body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f5e76a, #e73edf);
}

.page {
    display: flex;
    height: 100vh;
}

/* LEFT PANEL */
.left-panel {
    width: 35%;
    background: rgb(121, 211, 233);
    padding: 20px;
    border-right: 1px solid #ddd;
}

#monthTitle {
    text-align: center;
    margin-bottom: 20px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    padding: 20px;
    background: #78ffd2;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 6px;
}

.day:hover {
    background: #c7d2fe;
}

.day.active {
    background: #080357;
    color: white;
}

/* RIGHT PANEL */
.right-panel {
    width: 65%;
    padding: 30px;
    overflow-y: auto;
}

.task-form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.task-form input,
.task-form select {
    padding: 10px;
    font-size: 14px;
}

.task-form button {
    padding: 10px 16px;
    background: #4f46e5;
    color: white;
    border: none;
    cursor: pointer;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin-bottom: 10px;
    background: white;
    border-left: 6px solid;
    border-radius: 6px;
}

.task.High { border-color: #dc2626; }
.task.Medium { border-color: #f59e0b; }
.task.Low { border-color: #16a34a; }

.delete {
    color: red;
    text-decoration: none;
    font-size: 18px;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.calendar-header button {
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;

}

.day {
    padding: 18px 0;
    background: #c8d1d6;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
}

.day.empty {
    background: transparent;
    cursor: default;
}

.day:hover:not(.empty) {
    background: #c7d2fe;
}

.day.active {
    background: #4f46e5;
    color: white;
}
/* TOP TASKBAR */
.topbar {
    height: 60px;
    background: #08479e;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: bold;
}

/* CONTENT BELOW TASKBAR */
